@charset "UTF-8";
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInMainvisual {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInMainvisual {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#mainvisual {
  position: relative;
  height: 500px;
  -webkit-animation-name: fadeInMainvisual;
          animation-name: fadeInMainvisual;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
@media screen and (min-width: 768px) {
  #mainvisual {
    height: 800px;
  }
}
#mainvisual video {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#mainvisual .catch {
  position: absolute;
  width: 90%;
  font-size: 32px;
  color: #f1f1f1;
  top: 20%;
  left: 50%;
  line-height: 2;
  white-space: nowrap;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  #mainvisual .catch {
    font-size: 48px;
  }
}
@media screen and (min-width: 960px) {
  #mainvisual .catch {
    width: 960px;
    font-size: 60px;
  }
}

/*当サイトについて*/
#introduction {
  margin: 60px 0;
}
#introduction__title {
  margin-bottom: 45px;
}
#introduction p:not(:first-of-type) {
  margin-top: 30px;
}
#introduction span {
  font-weight: bold;
}
#introduction .text--large {
  font-size: 150%;
}
#introduction .faded {
  opacity: 0;
}
#introduction .faded.active {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*コンテンツ*/
#content {
  margin-bottom: 60px;
}

.swiper__container {
  position: relative;
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  padding: 60px 0;
  -webkit-overflow-scrolling: touch;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #bc947c !important;
}

.card__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 4px solid #bc947c;
  border-radius: 10px;
}

.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.card__title {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.card__title--uppercase {
  text-transform: uppercase;
}

.card__text {
  width: 100%;
  margin-bottom: 15px;
}
.card__text > p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  border-bottom: 1px dotted #484848;
}