$themeColor: #bc947c;
$textColor: #484848;

@mixin max {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin min {
  @media screen and (min-width: 768px) {
    @content;
  }
}

#content {
  padding: 90px 0 60px;
}

.content {
  &__list {
    width: 100%;

    & > li {
      border-bottom: 3px dotted $themeColor;

      &:first-of-type {
        border-top: 3px dotted $themeColor;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 15px;
    @include min {
      flex-direction: row;
      justify-content: space-between;
      max-height: 175px;
    }
  }

  &__img {
    object-fit: cover;
    @include max {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
      object-position: center bottom;
    }
    @include min {
      object-fit: contain;
      width: 30%;
      height: auto;
    }

    &--center {
      @include max {
        object-position: center;
      }
    }
  }

  &__description {
    @include min {
      width: 65%;
    }
    & > h3 {
      font-size: 18px;
      margin-bottom: 5px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      @include min {
        font-size: 20px;
      }
    }

    & > p {
      font-size: 16px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}

#mainvisual {
  height: 300px;
  @include min {
    height: 700px;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }
}
