#content {
  margin: 30px 0;
}

.content__list {
  width: 100%;
}
.content__item {
  display: flex;
  width: 100%;
  max-height: 150px;
  padding: 15px 0;
  border-bottom: 3px dotted #bc947c;
}
.content__item:first-of-type {
  border-top: 3px dotted #bc947c;
}
.content__img {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
.content__description {
  width: 70%;
}
.content__description > h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .content__description > h3 {
    font-size: 24px;
  }
}
.content__description > p {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}