.mainvisual {
  display: flex;
  height: 300px;
  &__left {
    width: 70%;
    position: relative;
    height: auto;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
