.mainvisual {
  display: flex;
  height: 300px;
  &__left {
    width: 50%;
    position: relative;

    & > img {
      clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    text-align: left;
    margin: 0 auto;
    & > h3 {
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
}

section:first-of-type {
  margin: 0;
}
