.mainvisual {
  display: flex;
  height: 300px;
  &__left {
    width: 70%;
    position: relative;
  }

  &__right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
